{{ bootstrap.load_css() }}
{{ bootstrap.load_js() }}

<!DOCTYPE html>
<head>
    <title>Main Page</title>
</head>
<body>
    <div class="container-sm">
        <h1>Just testing...</h1>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Select match
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for i in matches%}
                <li><a class="dropdown-item" href="/match?match={{i}}">{{i}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    
</body>