{{ bootstrap.load_css() }}
{{ bootstrap.load_js() }}

<!DOCTYPE html>
<head>
    <title>Data on Matchdate {{name}}</title>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3-dsv.min.js"></script>

    <style></style>
</head>
<body>
    <div class="container-sm" style="padding:3em;">
        <h2>Matchdate: {{name}}</h2>
        <div style="width: 100%; display: flex; justify-content: space-between;">
            <p>Time at the bottom is in UTC. The vertical axis shows the amount of tweets over time in the match.<br>In order to find info on sentiment during event(s) hover over with the mouse.</p>
            <a href="/" class="btn btn-primary" style="height:fit-content;">Go Back</a>
        </div>
        <div id="histogram"></div>
        <div class="card" style="width: 40rem; margin-left: auto; margin-right: auto;">
            <div id="match-info" class="card-body" style="display:flex; opacity: 0%; justify-content: space-between;">
                <div>
                    <h5 class="card-title">Event Info</h5>
                    <div id="match-text">
                    </div>
                </div>
                <div><h6 style="width:320px; text-align:center; font-weight: bold;">Transformer Analysis</h6>
                    <div id="match-chart" style="margin-bottom: 0"></div></div>
            
            </div>
        </div>

        <div style="margin-top: 3em;">
            <h3>Mention Network Communities</h3>
            <p>
                Top communities detected by Louvain on the author-to-author mention graph,
                colored by each author's dominant emotion across all of their tweets.
                Node size scales with degree. Drag to explore.
            </p>
            <div id="network-summary" style="font-size: 0.9em; color: #555; margin-bottom: 0.5em;"></div>
            <div id="network-legend" style="font-size: 0.85em; margin-bottom: 0.5em;"></div>
            <div id="network" style="border: 1px solid #ddd; border-radius: 4px;"></div>
        </div>

    </div>
    {% include 'partials/footer.html' %}

    <script>
        // Dimensions/margins

        const site_width = document.querySelector("#histogram").offsetWidth;
        console.log(site_width)

        var margin = {top: 10, right: 30, bottom: 30, left: 40},
        width = site_width - margin.left - margin.right,
        height = 350 - margin.top - margin.bottom;

        var pie_margin = {top: 10, right: 10, bottom: 10, left: 30},
        pie_dim = 250;

        // SVG obj
        var svg = d3.select("#histogram")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");
        
        const parse_time = d3.utcParse("%Y-%m-%d %H:%M:%S")

        // Pie chart vars
        const radius = pie_dim / 2;
        const arc = d3.arc()
            .innerRadius(0)
            .outerRadius((radius - 1));
        const pie = d3.pie()
            .padAngle(1 / radius)
            .sort(null)
            .value(d => d.value);

        const sentiment_color = {
            "Joy": "#59a14f",
            "Surprise": "#76b7b2",
            "Neutral": "#bab0ab",
            "Fear": "#ff9da7",
            "Disgust": "#f28e2c",
            "Sadness": "#af7aa1",
            "Anger": "#e15759"
        }
        const outcome_color = {
            "positive": "#3c6d35",
            "neutral": "#867f7c",
            "negative": "#ae4344"
        }

        // data parse
        d3.dsv(",", "{{ url_for('static', filename=path)}}", function(d) {
                return {
                    nearest_event_match: d.nearest_event_match,
                    nearest_event_type: d.nearest_event_type,
                    datetime: new Date(parse_time(d.datetime)),
                    vader_compound: d.vader_compound,
                    tb_polarity: d.tb_polarity,
                    emo_joy: d.emo_joy,
                    emo_sadness: d.emo_sadness,
                    emo_anger: d.emo_anger,
                    emo_fear: d.emo_fear,
                    emo_disgust: d.emo_disgust,
                    emo_surprise: d.emo_surprise,
                    emo_neutral: d.emo_neutral
                    // Add more if necessary
                }
            })
            .then(function(data) {
                data = data.filter(function(d){return d.datetime.toISOString().substring(0, 10) == "{{ name }}"})
                event_data = data.filter(function(d){return d.nearest_event_match != "none"})
                
                event_start = d3.min(event_data, function(d) {return +d.datetime})
                event_end = d3.max(event_data, function(d) {return +d.datetime})

                event_attributes = {
                    match: event_data[0]["nearest_event_match"],
                    type: event_data[0]["nearest_event_type"]
                }

                event_sentiment = {
                    vader_avg: d3.mean(event_data, function(d) { return d.vader_compound}),
                    tb_avg: d3.mean(event_data, function(d) { return d.tb_polarity}),
                    transformer_data: [
                        {"name": "Joy", "value": d3.mean(event_data, function(d) { return d.emo_joy})},
                        {"name": "Surprise", "value": d3.mean(event_data, function(d) { return d.emo_surprise})},
                        {"name": "Neutral", "value": d3.mean(event_data, function(d) { return d.emo_neutral})},
                        {"name": "Fear", "value": d3.mean(event_data, function(d) { return d.emo_fear})},
                        {"name": "Disgust", "value": d3.mean(event_data, function(d) { return d.emo_disgust})},
                        {"name": "Sadness", "value": d3.mean(event_data, function(d) { return d.emo_sadness})},
                        {"name": "Anger", "value": d3.mean(event_data, function(d) { return d.emo_anger})},
                    ]
                }
                // X axis
                var x = d3.scaleLinear()
                    .domain([d3.min(data, function(d) { return +d.datetime }), d3.max(data, function(d) { return +d.datetime })])
                    .range([0, width]);
                
                // X axis ticks
                svg.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x).tickFormat(d3.utcFormat("%H:%M:%S")));

                // Histogram's parameters
                var histogram = d3.histogram()
                    .value(function(d) { return d.datetime; })
                    .domain(x.domain())
                    .thresholds(x.ticks(400));

                // Bins of histogram
                var bins = histogram(data);

                // Y axis
                var y = d3.scaleLinear()
                    .range([height, 0]);
                y.domain([0, d3.max(bins, function(d) { return d.length; })]);
                
                // Y axis ticks
                svg.append("g")
                    .call(d3.axisLeft(y));

                // Histogram bar rects
                svg.selectAll("rect")
                    .data(bins)
                    .enter()
                    .append("rect")
                        .attr("x", 1)
                        .attr("transform", function(d) { return "translate(" + x(d.x0) + "," + y(d.length) + ")"; })
                        .attr("width", function(d) { return x(d.x1) - x(d.x0) -1 ; })
                        .attr("height", function(d) { return height - y(d.length); })
                        .style("fill", "#4F6F8F")

                svg.append("rect")
                    .attr("x", x(event_start))
                    .attr("width", function(d) { return x(event_end) - x(event_start);})
                    .attr("height", height)
                    .style("fill", "#2F4F6F")
                    .style("opacity", "30%")
                    .on("mouseover", event_mouseover)
                    .on("mouseout", event_mouseout)



                // Mouse events
                function event_mouseover(d, i) {
                    d3.select(this)
                        .transition()
                        .duration(0)
                        .style("opacity", "60%")
                    event_panel()
                }
                function event_mouseout(d, i) {
                    d3.select(this)
                        .transition()
                        .duration(0)
                        .style("opacity", "30%")
                }

                // Creates panel with event attributes
                function event_panel() {
                    match_text = document.querySelector("#match-text")

                    // How the traditional models view events
                    vader_outcome = ""
                    if(event_sentiment.vader_avg > 0){
                        vader_outcome = "positive"
                    } else if (event_sentiment.vader_avg < 0){
                        vader_outcome = "negative"
                    } else {
                        vader_outcome = "neutral"
                    }
                    tb_outcome = ""
                    if(event_sentiment.tb_avg > 0){
                        tb_outcome = "positive"
                    } else if (event_sentiment.tb_avg < 0){
                        tb_outcome = "negative"
                    } else {
                        tb_outcome = "neutral"
                    }

                    // Basic attributes
                    match_text.innerHTML = `
                    <p class="card-text"><b>Match:</b> ${event_attributes.match}
                    <br><b>Event:</b> ${event_attributes.type}</p>
                    <p class="card-text">VADER baseline: <b>${event_sentiment.vader_avg.toFixed(2)} <span style="color:${outcome_color[vader_outcome]}">(${vader_outcome})</span></b>
                    <br>TextBlob baseline: <b>${event_sentiment.tb_avg.toFixed(2)} <span style="color:${outcome_color[tb_outcome]}">(${tb_outcome})</span></b></p>
                    `
                    
                    match_info_div = document.querySelector("#match-info")
                    match_info_div.style.opacity = "100%";

                    // Starts making pie chart
                    var pie_div = d3.select("#match-chart")
                    pie_div.selectAll("*").remove();

                    pie_svg = pie_div.append("svg")
                        .attr("width", pie_dim + pie_margin.left + pie_margin.right)
                        .attr("height", pie_dim + pie_margin.top + pie_margin.bottom)
                    
                    // Pie chart slices
                    pie_svg.append("g")
                        .attr("transform",
                            "translate(" + (radius + pie_margin.left) + "," + (radius + pie_margin.top) + ")")
                        .selectAll()
                        .data(pie(event_sentiment.transformer_data))
                        .join("path")
                            .attr("fill", d => sentiment_color[d.data.name])
                            .attr("d", arc)
                        .append("title")
                            .text(d => `${d.data.name}: ${(d.data.value * 100).toFixed(2)}%`)
                    
                    // Pie chart labels
                    pie_svg.append("g")
                            .attr("font-family", "system-ui")
                            .attr("font-size", "11")
                            .attr("text-anchor", "middle")
                            .attr("transform",
                            "translate(" + (radius + pie_margin.left) + "," + (radius + pie_margin.top) + ")")
                        .selectAll()
                        .data(pie(event_sentiment.transformer_data))
                        .join("text")
                            .attr("transform", d => `translate(${arc.centroid(d)})`)
                            .call(t => t.append("tspan")
                                .attr("y", d => (d.endAngle - d.startAngle) > 0.25 ? "-0.4em" : "0em")
                                .attr("font-weight", "bold")
                                .text(d => d.data.name))
                            .call(t => t.filter(d => (d.endAngle - d.startAngle) > 0.25).append("tspan")
                                .attr("x", 0)
                                .attr("y", "0.7em")
                                .attr("fill-opacity", 0.7)
                                .text(d => `${(d.data.value * 100).toFixed(2)}%`))
                }
            });

        // ==== Mention network force graph ====
        const networkWidth = site_width;
        const networkHeight = 520;

        const networkSvg = d3.select("#network")
            .append("svg")
            .attr("width", networkWidth)
            .attr("height", networkHeight);

        const nodesUrl = "{{ url_for('static', filename=network_nodes_path) }}";
        const edgesUrl = "{{ url_for('static', filename=network_edges_path) }}";
        const homogeneityUrl = "{{ url_for('static', filename=network_homogeneity_path) }}";

        const emotionColor = {
            "joy": "#59a14f",
            "surprise": "#76b7b2",
            "neutral": "#bab0ab",
            "fear": "#ff9da7",
            "disgust": "#f28e2c",
            "sadness": "#af7aa1",
            "anger": "#e15759",
            "unknown": "#cccccc"
        };

        const legendOrder = ["joy", "surprise", "neutral", "fear", "disgust", "sadness", "anger"];
        const legendDiv = document.querySelector("#network-legend");
        legendOrder.forEach(function(em) {
            const span = document.createElement("span");
            span.style.display = "inline-flex";
            span.style.alignItems = "center";
            span.style.marginRight = "1em";
            span.innerHTML = `<span style="display:inline-block;width:12px;height:12px;border-radius:50%;background:${emotionColor[em]};margin-right:0.4em;"></span>${em}`;
            legendDiv.appendChild(span);
        });

        Promise.all([d3.json(nodesUrl), d3.json(edgesUrl), d3.json(homogeneityUrl)])
            .then(function(files) {
                const nodesData = files[0].map(function(d) { return Object.assign({}, d); });
                const edgesData = files[1].map(function(d) { return { source: d.source, target: d.target, weight: d.weight }; });
                const homogeneity = files[2];

                document.querySelector("#network-summary").innerHTML = `
                    <b>${nodesData.length}</b> authors in top 8 communities
                    &middot; modularity <b>${homogeneity.modularity}</b>
                    &middot; within-community emotion agreement <b>${homogeneity.within_community_agreement}</b>
                    vs. global baseline <b>${homogeneity.across_community_baseline}</b>
                    &middot; emotion assortativity <b>${homogeneity.emotion_assortativity}</b>
                `;

                const degreeExtent = d3.extent(nodesData, function(d) { return d.degree; });
                const radiusScale = d3.scaleSqrt().domain(degreeExtent).range([3, 14]);

                const simulation = d3.forceSimulation(nodesData)
                    .force("link", d3.forceLink(edgesData).id(function(d) { return d.id; }).distance(60).strength(0.2))
                    .force("charge", d3.forceManyBody().strength(-60))
                    .force("center", d3.forceCenter(networkWidth / 2, networkHeight / 2))
                    .force("collide", d3.forceCollide().radius(function(d) { return radiusScale(d.degree) + 2; }));

                const link = networkSvg.append("g")
                    .attr("stroke", "#999")
                    .attr("stroke-opacity", 0.3)
                    .selectAll("line")
                    .data(edgesData)
                    .enter().append("line")
                    .attr("stroke-width", function(d) { return Math.min(3, 0.5 + Math.log(d.weight)); });

                const node = networkSvg.append("g")
                    .attr("stroke", "#fff")
                    .attr("stroke-width", 1)
                    .selectAll("circle")
                    .data(nodesData)
                    .enter().append("circle")
                    .attr("r", function(d) { return radiusScale(d.degree); })
                    .attr("fill", function(d) { return emotionColor[d.emotion] || emotionColor.unknown; })
                    .call(d3.drag()
                        .on("start", function(d) {
                            if (!d3.event.active) simulation.alphaTarget(0.3).restart();
                            d.fx = d.x; d.fy = d.y;
                        })
                        .on("drag", function(d) {
                            d.fx = d3.event.x; d.fy = d3.event.y;
                        })
                        .on("end", function(d) {
                            if (!d3.event.active) simulation.alphaTarget(0);
                            d.fx = null; d.fy = null;
                        })
                    );

                node.append("title")
                    .text(function(d) {
                        return `${d.id}\ncommunity ${d.community} · ${d.emotion}\ntweets: ${d.tweets} · degree: ${d.degree}`;
                    });

                simulation.on("tick", function() {
                    link
                        .attr("x1", function(d) { return d.source.x; })
                        .attr("y1", function(d) { return d.source.y; })
                        .attr("x2", function(d) { return d.target.x; })
                        .attr("y2", function(d) { return d.target.y; });
                    node
                        .attr("cx", function(d) { return d.x; })
                        .attr("cy", function(d) { return d.y; });
                });
            })
            .catch(function(err) {
                document.querySelector("#network-summary").innerHTML =
                    `<span style="color:#b00">Network data failed to load: ${err}</span>`;
            });
    </script>
    
</body>